*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:  "Poppins" ,sans-serif;
    min-height: 100vh;
    height: 100%;
}

/* -----------navbar--------- */

.navbar-container
{
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
}
.navbar-container div:first-of-type img{
    width: 80%;
}
.list{display: flex;}
.list-item
{
    list-style:none;
    margin-left: 50px;
    font-size: 18px;
    font-weight: 900px;
    position: relative;
    margin-left: 80px;
    transition: 0.25s ease-in-out;
    cursor: pointer;
}
.list-item:hover , .list-item.active
{
    font-weight: 500;
    border-bottom: 1px solid #000;
}
.button-group
{
    display: flex;
    margin-left: 80px;
}
.search-icon
{
    margin-left: 30px;
}
.nav-button
{
    background:transparent;
    padding: 8px 50px;
    margin-left: 15px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #000;
}
.nav-button:hover
{
    background:#000;
    color: #fff;
    transition: 0.25s ease-in-out;
}
.search-icon svg{
    width: 60px;
}

.menu-icon{
    display: none;
}


/* ---------------hero container----------- */
.hero-container
{
    display: flex;
    padding: 20px 40px;
}




.person_img
{
    width: 40%;
    position: relative;
}
.personPic
{
    position: absolute;
    top:30px;
    left:20px;
    max-width: 300px;
    cursor: pointer;
}
.square
{
    /* max-width: 300px; */
    max-width:250px;
    position: absolute;
    top:200px;
    left: 120px;
    z-index: -1;
    cursor: pointer;
}


.hero-container-right
{
    width: 60%;
    display: flex;
    position: relative;
    flex-direction: column;
}


.star
{
    max-width: 5%;
    position: absolute;
    top: 10%;
    right: 10%;
    cursor: pointer;
}
.star2{
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 5%;
}
.globe
{
    max-width: 8%;
    position: absolute;
    top: 5%;
    left: 20%;
    cursor: pointer;
}
.hero-heading
{
    margin-top: 15%;
    font-size: 3em;
    font-weight: 700;
}
.hero-description
{
    margin-top: 4%;
    font-size: 0.7em;
    text-align: center;
    padding: 0 20%;
    font-family: "Poppins" ,sans-serif;
}


.hero-description + div{
    margin: 4rem auto;
}
div > button
{
    padding:5px 15px;
    background: transparent;
    border-radius: 10px;
    font-family: "Poppins" ,sans-serif;
    border: none;
    border: 1px solid #000;
}
.button-email:hover{
    transition: 0.25s ease-in-out;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}
.button-join
{
    background-color: #000000;
    color: #fff;
    cursor: pointer;
   padding: 5px 10px;
}
.button-join:hover
{
    transition: 0.25s ease-in-out;
    background-color:transparent;
    color: #000;
    outline: 1px solid #000;
}
.contact-heading
{
    font-family: "Poppins" ,sans-serif;
    text-align: center;
}

.icons{
    width: 20%;
    display: block;
    margin: 0 auto;
}

.icons img
{
    width: 20px;
    margin-left: 10px;
}

@media (max-width:1024px){
    .hero-container{
        flex-direction: column;
        gap: 30rem;
        padding: 0 1rem;
    }
    .person_img{
        width: 50%;
        margin: 0 auto;
    }
    .hero-container-right{
        width: 100%;
    }
    .navbar-container div:first-of-type +div , .button-group{
        display: none;
    }
    .icons{
        margin-top:1rem;
        width: 20%;
    }
    .hero-description + div{
        margin: 1rem auto;
    }
    .hero-heading{
        font-size: 2rem;
    }
    .menu-icon{
        display: block;
        margin-left: auto;
    }
    .navbar-container div:first-of-type img{
        width: 60%;
    }
    .hero-description {
        padding: 0;
    }
}
@media (max-width:420px){
    .personPic
{
    max-width:250px;
}
.square
{
    max-width:180px;
}
.hero-container{
    gap: 24rem;
}
.hero-description {
    padding: 0;
}
.icons{
    width: 50%;
}
.person_img{
    width: 100%;
    margin: 0 auto;
}
}